{% extends 'base.html.twig' %}

{% block title %}New Zadania{% endblock %}

{% block body %}
    <h1>Create new Zadania</h1>

    {{ include('zadania/_form.html.twig') }}

    <a href="{{ path('zadania_index') }}">back to list</a>
{% endblock %}
